/*

#260085
#9D0077
#DD135E
#FE6D47
#FFB545
#F9F871

*/
@font-face {
  font-family: "Cafe24Ohsquare";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cafe24Ohsquareair";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Cafe24Ohsquareair";
  transform: rotate(0.04deg);
}
body {
  padding-top: 5rem;
  background-color: rgba(249, 248, 113, 0.05);
  -webkit-touch-callout: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
a {
  text-decoration-line: none;
  color: black;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  padding: 1rem;
  color: white;
  background: #fe6d47;
}
.nav-item {
  color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.nav-item:hover {
  color: #f9f871;
}
.title {
  font-family: "Cafe24Ohsquare";
  text-align: center;
  font-size: 5rem;
  font-weight: 100;
  color: #260085;
}
.sub {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 100;
  color: #9d0077;
}
.first {
  margin: 0.75rem;
  font-size: 1.5rem;
  font-weight: 100;
}
