/*칠래 위키 style.css*/
/*
CSS 목차
1.웹폰트
2.전채적인 디자인
3.상단바
4.제목
5.본문
*/
/*1.웹폰트*/
/*1-1.레페리포인트 Oblique(제목)*/
@font-face {
  font-family: "LeferiPoint-BlackObliqueA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackObliqueA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/*1-2.레페리포인트 Oblique(본문)*/
@font-face {
  font-family: "LeferiPoint-WhiteObliqueA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/*2.전채적인 디자인*/
* {
  font-family: LeferiPoint-WhiteObliqueA;
}
body {
  background-color: rgb(240, 240, 240);
  padding-top: 6rem;
}
/*3.상단바*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 75px;
  padding: 1rem;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(235, 235, 235);
}
.nav {
  text-align: left;
  margin: 0.5em;
  text-decoration: none;
  color: black;
}
/*4.제목*/
.title {
  font-size: 4.25rem;
  font-family: LeferiPoint-BlackObliqueA;
  font-weight: 900;
  text-align: center;
}
/*5.본문*/
main {
  padding: 0.5rem;
  height: 100%;
}
.sub {
  text-align: center;
  color: rgb(128, 128, 128);
  font-size: 0.875rem;
}
#subtitle {
  font-size: 2.25rem;
  font-weight: 700;
  text-align: left;
}
